In [3]:
from sklearn import datasets

from INHOUSETRAINING.DeepLearning import x_train

In [4]:
data = datasets.load_breast_cancer()

In [5]:
X,y=datasets.load_breast_cancer(return_X_y=True) #This will give all the input data to X and output data to y

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv("../Assets/CAR DETAILS FROM CAR DEKHO.csv")

In [8]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [9]:
X=df.drop('selling_price',axis=1) #removes the selling price column ,axis -1 (column)

In [11]:
y=df['selling_price']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=42) #random state means it will ensure that the train split data is fixed and 42 number is just a programmer convention you can take any number

#As we test 80% data for training and 20% data for testing hence for both train and test 80:20 ratio data is taken...

In [15]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((3472, 7), (868, 7), (3472,), (868,))

In [16]:
#Regression - output-a number or a real value(Example-car price estimation)
#Classification-Output a category

In [18]:
df=df[['selling_price','km_driven','year']]

In [19]:
df.head()

   selling_price  km_driven  year
0          60000      70000  2007
1         135000      50000  2007
2         600000     100000  2012
3         250000      46000  2017
4         450000     141000  2014

In [20]:
#Feature Scaling:making all features value to a standard form so that no feature can unfairly influence the model and It is performed after train test split

In [21]:
#Applying Normalization:MinMax Scaling
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler=MinMaxScaler() #object creation (scaler)

In [25]:
scaled_df=scaler.fit_transform(df) #output will be a numpy array

In [26]:
scaled_df

array([[0.0045045 , 0.08678301, 0.53571429],
       [0.01295045, 0.06198751, 0.53571429],
       [0.06531532, 0.12397626, 0.71428571],
       ...,
       [0.01013514, 0.10290008, 0.60714286],
       [0.09515766, 0.11157851, 0.85714286],
       [0.02308559, 0.04958976, 0.85714286]])

In [29]:
scaled_df=pd.DataFrame(scaled_df,columns=df.columns) #creating a dataframe
scaled_df.head()

   selling_price  km_driven      year
0       0.004505   0.086783  0.535714
1       0.012950   0.061988  0.535714
2       0.065315   0.123976  0.714286
3       0.025901   0.057028  0.892857
4       0.048423   0.174807  0.785714

In [30]:
X=df.drop('selling_price',axis=1)
y=df['selling_price']

In [31]:
X

      km_driven  year
0         70000  2007
1         50000  2007
2        100000  2012
3         46000  2017
4        141000  2014
...         ...   ...
4335      80000  2014
4336      80000  2014
4337      83000  2009
4338      90000  2016
4339      40000  2016

[4340 rows x 2 columns]

In [32]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.33,random_state=42)

In [33]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((2907, 2), (1433, 2), (2907,), (1433,))

In [34]:
X_train.head()

      km_driven  year
3679     400000  2006
2093      50000  2015
3220      20000  2019
2422      80000  2017
1867     100000  2005

In [35]:
#Feature Scaling
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.fit_transform(X_test)

In [37]:
X_train_scaled

array([[0.49590874, 0.5       ],
       [0.06198751, 0.82142857],
       [0.02479426, 0.96428571],
       ...,
       [0.06322728, 0.85714286],
       [0.09918076, 0.75      ],
       [0.09918076, 0.75      ]])

In [39]:
#creating data frames
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [40]:
X_test_scaled

      km_driven      year
0      0.228349  0.583333
1      0.076876  0.958333
2      0.118954  0.500000
3      0.402685  0.750000
4      0.171189  0.833333
...         ...       ...
1428   0.028291  0.916667
1429   0.002569  1.000000
1430   0.256928  0.625000
1431   0.132627  0.875000
1432   0.056871  0.875000

[1433 rows x 2 columns]

In [ ]:
#When to apply feature scaling -using KNN , Kmeans CLustering, SVM,Principal component analysis,GMM, GDB algorithm