In [55]:
import numpy as np
import pandas as pd

In [56]:
df=pd.read_csv('../Assets/CAR DETAILS FROM CAR DEKHO.csv')

In [57]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [58]:
df.drop(['name','year','selling_price','km_driven'],axis=1,inplace=True)

In [59]:
df.head()

     fuel seller_type transmission         owner
0  Petrol  Individual       Manual   First Owner
1  Petrol  Individual       Manual   First Owner
2  Diesel  Individual       Manual   First Owner
3  Petrol  Individual       Manual   First Owner
4  Diesel  Individual       Manual  Second Owner

In [60]:
# #converting categorical data to numerical values using Python
# df['transmission']=df['transmission'].map({'Manual':0,'Automatic':1})

In [61]:
df['transmission']

0       Manual
1       Manual
2       Manual
3       Manual
4       Manual
         ...
4335    Manual
4336    Manual
4337    Manual
4338    Manual
4339    Manual
Name: transmission, Length: 4340, dtype: object

In [62]:
#for finding how many unique values in a column
df['seller_type'].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [63]:
#mapping values to seller values
# df['seller_type']=df['seller_type'].map({'Individual':0,'Dealer':1,'Trustmark Dealer':2})
# df.head()

In [64]:
# df['fuel'].apply(lamda x:1 if x=='Petrol' else 0)

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X_train,X_test,y_train,y_test=train_test_split(df.drop('fuel',axis=1),df['fuel'],test_size=0.2,random_state=42)

In [67]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((3472, 3), (868, 3), (3472,), (868,))

In [68]:
#Feature Scaling
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [69]:
le=LabelEncoder()
oe=OrdinalEncoder()

In [70]:
#Label encoder used for output data

y_train_transform=le.fit_transform(y_train)
y_test_transform=le.fit_transform(y_test)

In [71]:
y_train_transform

array([1, 1, 4, ..., 1, 1, 4])

In [74]:
y_train

227     Diesel
964     Diesel
2045    Petrol
1025    Diesel
4242    Diesel
         ...
3444    Diesel
466     Diesel
3092    Diesel
3772    Diesel
860     Petrol
Name: fuel, Length: 3472, dtype: object

In [72]:
#OrdinalEncoder for ordinal data like owner column first owner is higher than the second order etc

X_train_transform=oe.fit_transform(X_train)
X_test_transform=oe.fit_transform(X_test)

In [73]:
X_train

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner
1025  Individual       Manual   First Owner
4242      Dealer       Manual   First Owner
...          ...          ...           ...
3444  Individual       Manual   First Owner
466   Individual       Manual   First Owner
3092      Dealer       Manual   First Owner
3772  Individual       Manual   First Owner
860   Individual       Manual   First Owner

[3472 rows x 3 columns]

In [75]:
X_train_transform

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]])