In [1]:
#ONE HOT ENCODER-Converts the nominal data (data which does not have any order) to binary 2D rows of matrix

In [10]:
import numpy as np
import pandas as pd

In [12]:
df=pd.read_excel("../Assets/onedata.xlsx")
df

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

In [13]:
#getdummies function is used to hot encode the data
pd.get_dummies(data=df,columns=['buyer','fruits','gender'],dtype=int,drop_first=True)  #drop first column from every categorical data is used because , if suppose gender (Male , female ) is there and we removed male so by looking at female we can predict the value of male.

,value,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,2,0,0,0,0,0,0,1
1,3,0,1,0,0,1,0,1
2,4,0,0,1,0,0,1,0
3,4,1,0,0,1,0,0,1

In [14]:
#Now implementing same with Sci-Kit learn

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
ohe=OneHotEncoder(drop='first',dtype=int,sparse_output=False)

In [21]:
df_transform=ohe.fit_transform(df[['buyer','fruits','gender']])

In [23]:
df_transform

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [24]:
cols=ohe.get_feature_names_out()

In [25]:
cols

array(['buyer_karim', 'buyer_noor', 'buyer_wajid', 'fruits_banana',
       'fruits_mango', 'fruits_orange', 'gender_male'], dtype=object)

In [26]:
df_transform

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [28]:
pd.DataFrame(data=df_transform,columns=cols)

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1