In [1]:
#SimpleImputer class - Finding and fillling missing values

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('../Assets/8_df.csv')

In [4]:
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [6]:
df.isnull().sum() #count missing values from each column

Unnamed: 0    0
A             2
B             2
C             2
D             1
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

In [13]:
simple_mean=SimpleImputer(strategy='mean')
simple_mode=SimpleImputer(strategy="most_frequent")

In [10]:
df['A']=simple_mean.fit_transform(df[['A']]) #df[['A']]) means dataframe

In [11]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  NaN  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  NaN  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN

In [14]:
df['B']=simple_mode.fit_transform(df[['B']])
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  3.0  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  NaN  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN

In [15]:
df.fillna(0) #fill all missing values with 0

   Unnamed: 0      A    B    C     D
0           0  1.000  3.0  1.0   1.0
1           1  2.000  2.0  2.0   2.0
2           2  3.000  3.0  0.0   3.0
3           3  4.625  2.0  4.0   4.0
4           4  5.000  5.0  5.0   0.0
5           5  6.000  6.0  0.0   6.0
6           6  3.000  3.0  3.0   7.0
7           7  4.625  3.0  4.0   8.0
8           8  8.000  3.0  4.0   9.0
9           9  9.000  9.0  9.0  10.0