In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\risha\\PycharmProjects\\PythonProject\\Assets\\7 churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
#Data PreProcessing
df.isnull().sum() # checks missing values in columns

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
columns_to_keep=['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','Contract','TotalCharges','Churn']
df=df[columns_to_keep]

In [5]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,Month-to-month,29.85,No
1,Male,0,No,No,34,Yes,No,One year,1889.5,No
2,Male,0,No,No,2,Yes,No,Month-to-month,108.15,Yes
3,Male,0,No,No,45,No,No phone service,One year,1840.75,No
4,Female,0,No,No,2,Yes,No,Month-to-month,151.65,Yes

In [6]:
#It is a Supervised learning question
#Logistic Regression-output is categorical(0/1,yes/no),use to predict pass/fail ,spam/notspam

# It uses a sigmoid function to convert the output into a probability (between 0 and 1).
#
# If the probability > 0.5 â†’ class = 1
# If probability < 0.5 â†’ class = 0

In [28]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
le=LabelEncoder()
scaler=StandardScaler()

In [8]:
categorical_cols=['gender','Partner','Dependents','PhoneService','MultipleLines','Contract','Churn']

In [9]:
for col in categorical_cols:
    df[col]=le.fit_transform(df[col])

#One more Way:
# df[categorical_cols]=df[categorial_cols].replace({'Yes':1,'No':0})

In [10]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,29.85,0
1,1,0,0,0,34,1,0,1,1889.5,0
2,1,0,0,0,2,1,0,0,108.15,1
3,1,0,0,0,45,0,1,1,1840.75,0
4,0,0,0,0,2,1,0,0,151.65,1

In [11]:
X=df.drop(columns=['Churn'],axis=1)
y=df['Churn']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((5634, 9), (1409, 9), (5634,), (1409,))

In [14]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges
2142,0,0,0,1,21,1,0,1,1336.8
1623,0,0,0,0,54,1,2,2,5129.45
6074,1,0,1,0,1,0,1,0,23.45
1362,1,0,0,0,4,1,0,0,237.95
6754,1,0,0,1,0,1,2,2,
...,...,...,...,...,...,...,...,...,...
3772,1,0,1,0,1,1,0,0,95
5191,0,0,1,1,23,1,2,2,2198.3
5226,1,0,1,1,12,1,0,0,306.05
5390,1,1,0,0,12,1,2,0,1200.15
860,1,0,0,0,26,1,0,1,457.3

In [15]:
y_train

2142    0
1623    0
6074    1
1362    1
6754    0
       ..
3772    1
5191    0
5226    0
5390    1
860     0
Name: Churn, Length: 5634, dtype: int32

In [16]:
 #total Charges column is of object datatype

In [17]:
X_train['TotalCharges']=pd.to_numeric(X_train['TotalCharges'],errors='coerce')
X_test['TotalCharges']=pd.to_numeric(X_test['TotalCharges'],errors='coerce')

In [18]:
X_train['TotalCharges'].fillna(X_train['TotalCharges'].mean(),inplace=True)
X_test['TotalCharges'].fillna(X_test['TotalCharges'].mean(),inplace=True)

C:\Users\risha\AppData\Local\Temp\ipykernel_6176\1838027501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['TotalCharges'].fillna(X_train['TotalCharges'].mean(),inplace=True)
C:\Users\risha\AppData\Local\Temp\ipykernel_6176\1838027501.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['TotalCharges'].fillna(X_test['TotalCharges'].mean(),inplace=True)

In [19]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges
2142,0,0,0,1,21,1,0,1,1336.800000
1623,0,0,0,0,54,1,2,2,5129.450000
6074,1,0,1,0,1,0,1,0,23.450000
1362,1,0,0,0,4,1,0,0,237.950000
6754,1,0,0,1,0,1,2,2,2291.154605
...,...,...,...,...,...,...,...,...,...
3772,1,0,1,0,1,1,0,0,95.000000
5191,0,0,1,1,23,1,2,2,2198.300000
5226,1,0,1,1,12,1,0,0,306.050000
5390,1,1,0,0,12,1,2,0,1200.150000
860,1,0,0,0,26,1,0,1,457.300000

In [20]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()
lgr.fit(X_train,y_train)
y_pred=lgr.predict(X_test)

C:\Users\risha\PycharmProjects\PythonProject\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
y_pred

array([1, 0, 0, ..., 0, 0, 1])

In [22]:
#Accuracy Score -for classification algorithms
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7771469127040455

In [23]:
import pickle

In [24]:
pickle.dump(lgr,open('lgr.pkl','wb'))

In [27]:
def predictive(gender,Seniorcitizen,Dependents,tenure,Phoneservice,multiline,contact,totalcharge):
    data={
    'gender': [gender],
    'SendorCitizen': [Seniorcitizen],
    'Partner': [Partner],
     "Dependents": [Dependents],
    'tenure': [tenure],
    "PhoneService": [Phoneservice],
    "MultipleLines": [multiline],
    'Contract': [contact],
    'TotalCharges': [totalcharge]
    }
    df1=pd.DataFrame(data)

    categorical_cols=['gender','SeniorCitizen','Partner','Dependents','MultipleLines','Contract']
    for col in categorical_cols:
        df1[col]=le.fit_transform(df1[col])


    df1=scaler.fit_transform(df1)
    result=lgr.predict(df1).reshape(1,-1)
    return result[0]

In [41]:
gender="Female"
Seniorcitizen="No"
Partner="Yes"
Dependents="No"
tenure=1
Phoneservice="No"
multiline="No phone service"
contact="Month-to-month"
totalcharge=29.85
result=predictive(gender,Seniorcitizen,Dependents,tenure,Phoneservice,multiline,contact,totalcharge)
if result==0:
    print("Not Churn")
else:
    print("Churn")

Churn